body{
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Roboto', sans-serif;   
}
.all-part-equal-width{
display: flex;
}
.equality{
    width: 50%;
    margin:0 50px ;
}
.equality img{
    height: 40%;

    margin:5px;
}
.first-equal-width {
    padding: 50px;
}
.size-big{
    font-size: 50px;
    
}
.color-change{
color: mediumturquoise;
}
.border{
    border-left: 5px solid darkorange;
  ;
}
.background{
    color:deeppink;
    text-decoration: none;
    background-image: linear-gradient(aqua,orange);
    padding: 5px 20px;
}
